body{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    display:flex;
    align-items:center;
    flex-direction: column;
    gap: 50px;
    
}
#box{
    height: 200px;
    width: 200px;
    border: solid 2px white ;
    border-radius: 20px;

}
button{
    
      padding: 20px;
      font-size:large;
      background-color: aqua;
      border-radius: 30px;
      
}
button:active{
    scale: 0.80;
}