*{
    padding: 0px;
    margin: 0px;
}

body,html{
    background-color: black;
    height:100%;
    width: 100%;
    color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    


}
#just{
    width: 150px;
    line-height: 35px;
    border-radius: 30px;
    text-align: center;
    padding: 50px;
    border: solid 2px white;
    background-color: rgb(0, 213, 255);


}
button{
    padding: 10px;
}